<h1>New Album</h1>

<%= form_with model:@album do |form| %>
  <div>
    <%= form.label :Name %><br>
    <%= form.text_field :name%>
      <% album.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  </div>

  <div>
    <%= form.label :Create_Date %><br>
    <%= form.text_area :created_on %>
      <% album.errors.full_messages_for(:created_on).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
