<h1>Albums#show</h1>

<h1>Album Name-<%= @album.name %></h1>

<p>Album Created On-<%= @album.created_on %></p>

<%= link_to "Edit", edit_album_path(@album)%>
<%= link_to "Destroy", album_path(@album), data: {
                    method: :delete,
                    confirm: "Are you sure?"
                  } %>
<%=link_to "Home",albums_path%>

<%= form_with model: @album, local: true, html: { ipart: true } do |form| %>
  <%= form.label :image %>
  <%= form.file_field :image %>
  <%= form.submit %>
<% end %>
